############ User/DB FPGA ############

###### JTAG ######
NET FPGA_TDI LOC=G7;
NET FPGA_TCK LOC=A25;
NET FPGA_TMS LOC=D4;
NET FPGA_TDO LOC=E23;

NET NEXUS_TCK LOC=AF14;
NET NEXUS_TDI LOC=AA19;
NET NEXUS_TDO LOC=AC20;
NET NEXUS_TMS LOC=AB20;

###### One wire db pb ######
NET ONE_WIRE_DB_PB LOC=R2;

###### Program ######
NET FPGA_DIN LOC=AF24;
NET FPGA_DONE LOC=AB21;

NET FPGA_ID<0> LOC=1; // TODO
NET FPGA_ID<1> LOC=1; // TODO
NET FPGA_ID<2> LOC=1; // TODO
NET FPGA_ID<3> LOC=1; // TODO

NET FPGA_CCLK LOC=AE24;
NET FPGA_PROGRAM LOC=A2;
NET FPGA_M<0> LOC=AD4;
NET FPGA_M<1> LOC=AC4;
NET FPGA_M<2> LOC=Y7;
NET FPGA_INIT LOC=AA15;

//FPGA_PROG_PWR_ON does not seem to exist
//FPGA_PROG_CLK does not seem to exist

###### SPI ######
NET DAU_SPI_CLK LOC=AE14;
NET DAU_SPI_DIN LOC=AD21;
NET DAU_SPI_DOUT LOC=Y26;
NET DAU_SPI_MODE LOC=AF25;
NET DAU_SPI_SEL LOC=AE23;

###### Clocks ######
NET REF_CLK LOC=K14;
NET FPGA_CLK LOC=AE13;

NET DAU_FPGA_CLK1 LOC=Y14;

############ Common memory resources ############

NET BUS_A<1> LOC=AD15;
NET BUS_A<2> LOC=A12;
NET BUS_A<3> LOC=A15;
NET BUS_A<4> LOC=C15;
NET BUS_A<5> LOC=C16;
NET BUS_A<6> LOC=C18;
NET BUS_A<7> LOC=J21;
NET BUS_A<8> LOC=J25;
NET BUS_A<9> LOC=K25;
NET BUS_A<10> LOC=M1;
NET BUS_A<11> LOC=M25;
NET BUS_A<12> LOC=AE26;
NET BUS_A<13> LOC=M26;
NET BUS_A<14> LOC=L24;
NET BUS_A<15> LOC=AB23;
NET BUS_A<16> LOC=Y20;
NET BUS_A<17> LOC=AB12;
NET BUS_A<18> LOC=C17;
NET BUS_A<19> LOC=B17;
NET BUS_A<20> LOC=J26;
NET BUS_A<21> LOC=J22;
NET BUS_A<22> LOC=L22;
NET BUS_A<23> LOC=N24;
NET BUS_A<24> LOC=N21;

NET BUS_D<0> LOC=P25;
NET BUS_D<1> LOC=R26;
NET BUS_D<10> LOC=R21;
NET BUS_D<11> LOC=R22;
NET BUS_D<12> LOC=R25;
NET BUS_D<13> LOC=P20;
NET BUS_D<14> LOC=P22;
NET BUS_D<15> LOC=P26;
NET BUS_D<16> LOC=P18;
NET BUS_D<17> LOC=P6;
NET BUS_D<18> LOC=T18;
NET BUS_D<19> LOC=T17;
NET BUS_D<2> LOC=R18;
NET BUS_D<20> LOC=U21;
NET BUS_D<21> LOC=V23;
NET BUS_D<22> LOC=V24;
NET BUS_D<23> LOC=Y25;
NET BUS_D<24> LOC=F25;
NET BUS_D<25> LOC=U20;
NET BUS_D<26> LOC=U22;
NET BUS_D<27> LOC=T20;
NET BUS_D<28> LOC=R19;
NET BUS_D<29> LOC=R20;
NET BUS_D<3> LOC=R17;
NET BUS_D<30> LOC=P21;
NET BUS_D<31> LOC=P23;
NET BUS_D<4> LOC=T23;
NET BUS_D<5> LOC=U23;
NET BUS_D<6> LOC=U24;
NET BUS_D<7> LOC=G24;
NET BUS_D<8> LOC=K26;
NET BUS_D<9> LOC=T24;

NET BUS_NOE LOC=AD11;
NET BUS_NWE LOC=M3;
NET BUS_NBE<0> LOC=U19;
NET BUS_NBE<1> LOC=A22;
NET BUS_NBE<2> LOC=AA25;
NET BUS_NBE<3> LOC=V25;

NET BUS_SRAM_NCS LOC=D13;
NET BUS_FLASH_NCS LOC=C25;
NET BUS_SDRAM_NCS LOC=W20;

NET BUS_SDRAM_CKE LOC=V22;
NET BUS_SDRAM_CLK LOC=F13;
NET BUS_SDRAM_NCAS LOC=AA24;
NET BUS_SDRAM_NRAS LOC=AA22;

NET BUS_FLASH_NRESET LOC=M19;
NET BUS_FLASH_NBUSY LOC=B26;

NET BUS_SDRAM_FEEDBACK LOC=AA14;

############ Standalone memory resources ############

###### SRAM1 ######
NET SRAM1_A<0> LOC=J12;
NET SRAM1_A<1> LOC=F14;
NET SRAM1_A<2> LOC=F15;
NET SRAM1_A<3> LOC=G17;
NET SRAM1_A<4> LOC=B19;
NET SRAM1_A<5> LOC=K21;
NET SRAM1_A<6> LOC=K23;
NET SRAM1_A<7> LOC=L9;
NET SRAM1_A<8> LOC=M18;
NET SRAM1_A<9> LOC=N9;
NET SRAM1_A<10> LOC=M20;
NET SRAM1_A<11> LOC=L18;
NET SRAM1_A<12> LOC=L17;
NET SRAM1_A<13> LOC=J23;
NET SRAM1_A<14> LOC=J19;
NET SRAM1_A<15> LOC=B15;
NET SRAM1_A<16> LOC=G12;
NET SRAM1_A<17> LOC=F12;
NET SRAM1_A<18> LOC=H21;

NET SRAM1_D<0> LOC=D21;
NET SRAM1_D<1> LOC=B23;
NET SRAM1_D<2> LOC=C21;
NET SRAM1_D<3> LOC=D17;
NET SRAM1_D<4> LOC=C26;
NET SRAM1_D<5> LOC=G20;
NET SRAM1_D<6> LOC=F22;
NET SRAM1_D<7> LOC=G22;
NET SRAM1_D<8> LOC=G21;
NET SRAM1_D<9> LOC=E26;
NET SRAM1_D<10> LOC=D26;
NET SRAM1_D<11> LOC=D24;
NET SRAM1_D<12> LOC=H10;
NET SRAM1_D<13> LOC=B18;
NET SRAM1_D<14> LOC=E21;
NET SRAM1_D<15> LOC=F19;

NET SRAM1_NBHE LOC=G15;
NET SRAM1_NBLE LOC=E17;
NET SRAM1_NCS LOC=C20;
NET SRAM1_NOE LOC=E14;
NET SRAM1_NWE LOC=J20;

###### SRAM2 ######
NET SRAM2_A<0> LOC=D16;
NET SRAM2_A<1> LOC=D18;
NET SRAM2_A<2> LOC=A20;
NET SRAM2_A<3> LOC=D20;
NET SRAM2_A<4> LOC=F20;
NET SRAM2_A<5> LOC=K18;
NET SRAM2_A<6> LOC=M22;
NET SRAM2_A<7> LOC=N19;
NET SRAM2_A<8> LOC=N17;
NET SRAM2_A<9> LOC=N18;
NET SRAM2_A<10> LOC=N20;
NET SRAM2_A<11> LOC=M23;
NET SRAM2_A<12> LOC=M21;
NET SRAM2_A<13> LOC=L20;
NET SRAM2_A<14> LOC=K22;
NET SRAM2_A<15> LOC=F17;
NET SRAM2_A<16> LOC=H15;
NET SRAM2_A<17> LOC=E15;
NET SRAM2_A<18> LOC=K19;

NET SRAM2_D<0> LOC=J16;
NET SRAM2_D<1> LOC=G19;
NET SRAM2_D<2> LOC=C23;
NET SRAM2_D<3> LOC=H17;
NET SRAM2_D<4> LOC=K16;
NET SRAM2_D<5> LOC=H20;
NET SRAM2_D<6> LOC=F23;
NET SRAM2_D<7> LOC=K9;
NET SRAM2_D<8> LOC=G23;
NET SRAM2_D<9> LOC=F24;
NET SRAM2_D<10> LOC=E24;
NET SRAM2_D<11> LOC=D25;
NET SRAM2_D<12> LOC=A18;
NET SRAM2_D<13> LOC=C22;
NET SRAM2_D<14> LOC=D23;
NET SRAM2_D<15> LOC=D22;

NET SRAM2_NBHE LOC=B20;
NET SRAM2_NBLE LOC=B21;
NET SRAM2_NCS LOC=K11;
NET SRAM2_NOE LOC=A19;
NET SRAM2_NWE LOC=K20;

###### Codec ######
NET CODECI2S_BCLK LOC=J14;
NET CODECI2S_DIN LOC=T10;
NET CODECI2S_DOUT LOC=AB4;
NET CODECI2S_MCLK LOC=G13;
NET CODECI2S_WCLK LOC=AF13;

NET CODECSPI_CLK LOC=A14;
NET CODECSPI_CS LOC=AE9;
NET CODECSPI_DIN LOC=T4;
NET CODECSPI_DOUT LOC=AE2;

###### SDCARD ######
NET SDCLK LOC=AA13;
NET SDCMD LOC=V12;
NET SDDAT0 LOC=V16;
NET SDDAT1 LOC=V18;
NET SDDAT2 LOC=V13;
NET SDDAT3 LOC=U11;
NET SDDETECT LOC=AC13;
NET SDPROTECT LOC=AB13;

############ Peripherals ############

###### Switches ######
NET SW0 LOC=K1;
NET SW1 LOC=U3;
NET SW2 LOC=W2;
NET SW3 LOC=V4;
NET SW4 LOC=W1;

###### Reset ######
NET DAU_RESET_SW LOC=AD12;

###### RS232 ######
NET RS232_TX LOC=B1;
NET RS232_RTS LOC=E3;
NET RS232_RX LOC=G2;
NET RS232_CTS LOC=J2;

###### PS2 Keyboard ######
NET KBCLOCK LOC=AB7;
NET KBDATA LOC=AC8;

###### PS2 Mouse ######
NET MOUSECLOCK LOC=AB9;
NET MOUSEDATA LOC=W7;

###### SPDIF ######
NET SPDIF_OUT LOC=V10;
NET SPDIF_IN LOC=AF2;

###### RS485 ######
NET 485_RXD LOC=D7;
NET 485_RX_EN LOC=A3;
NET 485_TX_EN LOC=L10;
NET 485_TXD LOC=B3;

###### MIDI ######
NET MIDI_RX LOC=C4;
NET MIDI_TX LOC=H7;

###### Relays ######
NET RELAY<0> LOC=C6;
NET RELAY<1> LOC=C10;
NET RELAY<2> LOC=C12;
NET RELAY<3> LOC=B12;

###### Buzzer ######
NET BUZZER LOC=P10;

###### DIP Switches ######
NET DIP<0> LOC=AD10;
NET DIP<1> LOC=AC10;
NET DIP<2> LOC=AB10;
NET DIP<3> LOC=AD9;
NET DIP<4> LOC=AF7;
NET DIP<5> LOC=AA9;
NET DIP<6> LOC=AC7;
NET DIP<7> LOC=AB6;

###### User IO ######
NET IO<0> LOC=M6;
NET IO<1> LOC=N7;
NET IO<2> LOC=M8;
NET IO<3> LOC=N6;
NET IO<4> LOC=L4;
NET IO<5> LOC=M2;
NET IO<6> LOC=L7;
NET IO<7> LOC=M4;
NET IO<8> LOC=K4;
NET IO<9> LOC=M9;
NET IO<10> LOC=K7;
NET IO<11> LOC=M7;
NET IO<12> LOC=K2;
NET IO<13> LOC=M5;
NET IO<14> LOC=K5;
NET IO<15> LOC=M10;
NET IO<16> LOC=K6;
NET IO<17> LOC=L3;
NET IO<18> LOC=J6;
NET IO<19> LOC=K3;
NET IO<20> LOC=J8;
NET IO<21> LOC=K8;
NET IO<22> LOC=H6;
NET IO<23> LOC=J4;
NET IO<24> LOC=G4;
NET IO<25> LOC=J5;
NET IO<26> LOC=P7;
NET IO<27> LOC=H1;
NET IO<28> LOC=N5;
NET IO<29> LOC=N2;
NET IO<30> LOC=N4;
NET IO<31> LOC=N1;
NET IO<32> LOC=P9;
NET IO<33> LOC=P4;
NET IO<34> LOC=R4;
NET IO<35> LOC=R10;

###### PBIO Extend ######
NET EXTEND_A<0> LOC=AC6;
NET EXTEND_A<1> LOC=AF10;
NET EXTEND_A<2> LOC=AF8;
NET EXTEND_A<3> LOC=R6;
NET EXTEND_A<4> LOC=AE8;
NET EXTEND_A<5> LOC=AD7;
NET EXTEND_A<6> LOC=AD6;
NET EXTEND_A<7> LOC=AE7;
NET EXTEND_A<8> LOC=AE6;
NET EXTEND_A<9> LOC=AF5;
NET EXTEND_A<10> LOC=AC2;
NET EXTEND_A<11> LOC=AF4;
NET EXTEND_A<12> LOC=AE4;
NET EXTEND_A<13> LOC=AF3;
NET EXTEND_A<14> LOC=AB1;
NET EXTEND_A<15> LOC=AA7;
NET EXTEND_A<16> LOC=Y5;
NET EXTEND_A<17> LOC=AE3;
NET EXTEND_A<18> LOC=AD2;
NET EXTEND_A<19> LOC=AD1;
NET EXTEND_A<20> LOC=AC3;
NET EXTEND_A<21> LOC=AC1;
NET EXTEND_A<22> LOC=AA2;
NET EXTEND_A<23> LOC=Y6;
NET EXTEND_A<24> LOC=W6;
NET EXTEND_A<25> LOC=V8;
NET EXTEND_A<26> LOC=AA3;
NET EXTEND_A<27> LOC=Y2;
NET EXTEND_A<28> LOC=Y1;
NET EXTEND_A<29> LOC=W3;
NET EXTEND_A<30> LOC=W4;
NET EXTEND_A<31> LOC=V6;
NET EXTEND_A<32> LOC=V7;
NET EXTEND_A<33> LOC=U8;
NET EXTEND_A<34> LOC=U9;
NET EXTEND_A<35> LOC=V2;
NET EXTEND_A<36> LOC=V1;
NET EXTEND_A<37> LOC=U2;
NET EXTEND_A<38> LOC=U1;
NET EXTEND_A<39> LOC=U6;
NET EXTEND_A<40> LOC=U5;
NET EXTEND_A<41> LOC=T9;
NET EXTEND_A<42> LOC=U4;
NET EXTEND_A<43> LOC=T7;
NET EXTEND_A<44> LOC=T3;
NET EXTEND_A<45> LOC=T5;
NET EXTEND_A<46> LOC=R8;
NET EXTEND_A<47> LOC=R7;
NET EXTEND_A<48> LOC=R3;
NET EXTEND_A<49> LOC=R5;

###### User LEDs ######
NET LED0_B LOC=P2;
NET LED0_G LOC=R1;
NET LED0_R LOC=P1;
NET LED1_B LOC=P8;
NET LED1_G LOC=P3;
NET LED1_R LOC=R9;
NET LED2_B LOC=AA10;
NET LED2_G LOC=AE10;
NET LED2_R LOC=AC9;
NET LED3_B LOC=AC11;
NET LED3_G LOC=W12;
NET LED3_R LOC=V11;
NET LED4_B LOC=AA23;
NET LED4_G LOC=AC25;
NET LED4_R LOC=Y21;
NET LED5_B LOC=AC26;
NET LED5_G LOC=W21;
NET LED5_R LOC=Y22;
NET LED6_B LOC=W23;
NET LED6_G LOC=Y23;
NET LED6_R LOC=V21;
NET LED7_B LOC=AB24;
NET LED7_G LOC=Y24;
NET LED7_R LOC=V19;

###### Spare IO ######
NET SPAREIO1 LOC=W9;
NET SPAREIO2 LOC=W10;
NET SPAREIO3 LOC=Y9;
NET SPAREIO4 LOC=Y10;

###### USB2 ######
NET USB_READY LOC=R24;
NET USB_INT_N LOC=AF22;
NET USB_FLAGA LOC=AC17;
NET USB_FLAGB LOC=AB17;
NET USB_FLAGC LOC=AA20;
NET USB_VBUS LOC=AC18;
NET USB_WR_N LOC=U18;
NET USB_RD_N LOC=U16;
NET USB_D<0> LOC=AE17;
NET USB_D<1> LOC=U15;
NET USB_D<2> LOC=AD17;
NET USB_D<3> LOC=Y15;
NET USB_D<4> LOC=AC24;
NET USB_D<5> LOC=AF19;
NET USB_D<6> LOC=AE19;
NET USB_D<7> LOC=AF20;
// No USB D8 and upwards.. maybe on nanotalk fpga?
NET USB_RESET_N LOC=V17;
NET USB_SLOE LOC=AB18;
NET USB_FIFOADR<0> LOC=AA17;
NET USB_FIFOADR<1> LOC=AD25;
NET USB_FIFOADR<2> LOC=AA18;
NET USB_PKTEND LOC=AE21;
NET USB_FLAGD_CS_N LOC=AE20;
NET USB_IFCLK LOC=V14;

###### VGA ######
NET VGA_RED<0> LOC=A9;
NET VGA_RED<1> LOC=B9;
NET VGA_RED<2> LOC=D9;
NET VGA_RED<3> LOC=G9;
NET VGA_RED<4> LOC=A8;
NET VGA_RED<5> LOC=J9;
NET VGA_RED<6> LOC=H9;
NET VGA_RED<7> LOC=B8;

NET VGA_GREEN<0> LOC=D8;
NET VGA_GREEN<1> LOC=C8;
NET VGA_GREEN<2> LOC=F8;
NET VGA_GREEN<3> LOC=B7;
NET VGA_GREEN<4> LOC=E7;
NET VGA_GREEN<5> LOC=F7;
NET VGA_GREEN<6> LOC=D6;
NET VGA_GREEN<7> LOC=G8;

NET VGA_BLUE<0> LOC=K12;
NET VGA_BLUE<1> LOC=D11;
NET VGA_BLUE<2> LOC=J11;
NET VGA_BLUE<3> LOC=A10;
NET VGA_BLUE<4> LOC=B10;
NET VGA_BLUE<5> LOC=D10;
NET VGA_BLUE<6> LOC=G10;
NET VGA_BLUE<7> LOC=E10;

NET VGA_CLK LOC=C5;

NET VGA_HSYNC LOC=C11;
NET VGA_VSYNC LOC=H12;

###### Ethernet ######
NET E_TXEN LOC=F3;
NET E_COL LOC=G1;
NET E_TXC LOC=H4;
NET E_RXC LOC=B14;
NET E_RXD<0> LOC=C1;
NET E_RXD<1> LOC=D2;
NET E_RXD<2> LOC=D1;
NET E_RXD<3> LOC=G5;
NET E_TXD<0> LOC=F4;
NET E_TXD<1> LOC=E1;
NET E_TXD<2> LOC=G6;
NET E_TXD<3> LOC=F5;
NET E_RXDV LOC=C2;
NET E_RESETB_E LOC=E4;
NET E_MDIO LOC=D3;
NET E_MDC LOC=B2;
NET E_RXER LOC=A7;
NET E_CRS LOC=A5;

###### TFT TSC ######
NET TFT_TSC_IRQ_N LOC=AE25;

NET TFT_TSC_BUSY LOC=W26;
NET TFT_TSC_DOUT LOC=W25;
NET TFT_TSC_DIN LOC=AD26;
NET TFT_TSC_CS_N LOC=AB26;
NET TFT_TSC_CLK LOC=Y13;

###### TFT IO ######
NET TFT_BLIGHT LOC=AC23;

NET TFT_CS LOC=AC16;
NET TFT_RS LOC=AF18;
NET TFT_WR LOC=AE18;
NET TFT_RD LOC=AD20;
NET TFT_RESET LOC=V15;

NET TFT_DB<0> LOC=AD14;
NET TFT_DB<1> LOC=AB15;
NET TFT_DB<2> LOC=AE12;
NET TFT_DB<3> LOC=AE15;
NET TFT_DB<4> LOC=AF23;
NET TFT_DB<5> LOC=AC15;
NET TFT_DB<6> LOC=AC14;
NET TFT_DB<7> LOC=AC12;
# Apparently there is no 8 or 9...
NET TFT_DB<10> LOC=AC21;
NET TFT_DB<11> LOC=AD22;
NET TFT_DB<12> LOC=AC19;
NET TFT_DB<13> LOC=Y17;
NET TFT_DB<14> LOC=AD19;
NET TFT_DB<15> LOC=W17;
NET TFT_DB<16> LOC=AB16;
NET TFT_DB<17> LOC=W15;

NET IR38KTX LOC=Y12;
NET IR38KRX LOC=W13;

###### PWM ######
NET P0_PWM LOC=C7;
NET P1_PWM LOC=B6;
NET P2_PWM LOC=A4;
NET P3_PWM LOC=B4;

###### DAC ######
NET DAC_CS LOC=J7;
NET DAC_CLK LOC=C13;
NET DAC_DIN LOC=H2;

###### ADC ######
NET ADC_CS LOC=G3;
NET ADC_CLK LOC=B13;

NET ADC_DIN LOC=F2;
NET ADC_DOUT LOC=J1;

###### ISP176X ######
// BUS_A
// BUS_D
// BUS_NOE
// BUS_NWE
NET BUS_ISP176X_NCS LOC=AA12;
NET BUS_ISP176X_DREQ LOC=AF17;
NET BUS_ISP176X_DACK LOC=AF12;
NET BUS_ISP176X_NIRQ LOC=AF15;
NET ISP176X_RST LOC=AF9;

###### Prototype ######
// IO

###### I2C ######
NET SCL LOC=V5;
NET SDA LOC=U7;